@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #08D9D6;
    --second-color: #FF2E63;
    --third-color: #252A34;
    --fourth-color: #EAEAEA ;
    --fifth-color: #52e3c2;
}